@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}

html {
    scroll-behavior: smooth;
    background-color: #111222;
}

body {
    display: flex;
    flex-direction: column;
}

.header,
.about,
#skills {
    margin: 30px 60px;
    display: flex;
    align-items: center;
}

.header .logo {
    list-style-type: none;
    font-weight: bolder;
    font-size: larger;
}

.header #sidebar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #1112266c;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    display: none;
}

#sidebar li {
    width: 100%;
}

#sidebar a {
    width: 100%;
}

#menu-button {
    display: none;
}

@media(max-width:800px) {
    .hideOnMobile {
        display: none;
    }

    #menu-button {
        display: block;
    }
}

@media(max-width:400px) {
    .header #sidebar {
        width: 100%;
    }
}

.header #navigate {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}

.header a {
    text-decoration: none;
    margin: 0 10px;
    color: #ffff;
}

.about {
    height: auto;
    display: flex;
    flex-direction: column;
}

.about .about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 90%;
    margin: auto;

}

#main-text {
    color: #ffffffcc;
    margin: 10px 0 20px  0;
}

.about .about-container .about-sec1 p {
    max-width: 500px;
    color: yellow;
    line-height: 30px;
}

.about .about-container .about-sec2 img {
    max-width: 350px;
    border-radius: 50%;
    border: 2px solid #ffffffcc;
}

.icons {
    width: 100%;
    margin: 30px 0;
    padding: 20px 0 0 0;
}

.icons .content {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    margin: auto;

}

.content li a {
    margin: 12px;
    font-size: 40px;
    color: #ffffffcc;
}

#skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: auto;
}

.design {
    display: flex;
    align-items: center;
}

.timeline {
    height: auto;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.timeline-content {
    padding: 20px;
    background: #111222fc;
    -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    border-radius: 5px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin-bottom: 20px;
    border-radius: 6px;
}

.timeline-component {
    margin: 0px 20px 20px 20px;
    max-width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
    }

    .timeline-middle {
        position: relative;
        background-image: linear-gradient(45deg, #F27121, #E94057);
        width: 3px;
        height: 100%;
    }

    .main-middle {
        opacity: 0;
    }

    .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #F27121, #E94057);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}